.speaker-brand-modal {
  .ant-modal-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .ant-form-item:last-child {
    margin-bottom: 0;
  }

  .ant-input-number {
    width: 80px;
    text-align: center;
  }
}

body.theme-black-mode .speaker-brand-modal {
  .ant-form-item-label > label,
  .ant-form-item-extra {
    color: var(--pc-dark-text-secondary);
  }
}
