.qr-code-create-modal {
  .ant-modal-body {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /* 使表单的 Label 更靠近图纸的样式 */
  .ant-form-item-label > label {
    color: rgba(0, 0, 0, 0.88);
  }

  /* 扫码打开方式 radio 群组垂直对齐 */
  .ant-radio-wrapper {
    margin-right: 24px;
  }
}
